/* Importation des polices depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

/* Réinitialisation des marges et des paddings pour tous les éléments */
* {
  margin: 0;
  padding: 0;
}

/* Déclaration des variables CSS */
:root {
  --couleur-fond: #041821;
  --couleur-texte: white;
  --couleur-main-text: #64777f;
  --couleur-surlignage: #3d917a;
  --couleur-fond2: #1ece9a;
  --font-size-small: 10px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-llarge: 37px;
}

/* Styles pour l'élément body */
body {
  background-color: var(--couleur-fond);
  font-family: "Montserrat", sans-serif;
}

/* Styles pour l'élément header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 16px;
}

/* Styles pour les paragraphes dans le header */
header p {
  color: var(--couleur-texte);
  font-size: 25px;
  font-family: "Yeseva One", sans-serif;
}

/* Styles pour l'élément hr */
hr {
  border: 0;
  height: 0.5px;
  background-color: var(--couleur-texte);
}

/* Styles pour l'élément main */
main {
  padding-top: 65px;
  font-family: "Montserrat";
  margin-top: 4vh;
}

/* Styles pour les paragraphes dans le main */
main p {
  color: var(--couleur-texte);
  font-family: "Yeseva One", sans-serif;
  font-size: 60px;
}

/* Styles pour l'élément avec l'id main-text */
main #main-text {
  font-size: var(--font-size-small);
  color: var(--couleur-main-text);
  font-family: "Montserrat";
  display: flex;
  flex-wrap: wrap;
}

/* Styles pour l'élément avec l'id parentprest */
main #parentprest {
  display: flex;
  flex-wrap: wrap;
}

/* Styles pour les éléments avec les classes parent-main-text, parentprest et menu-parent */
.parent-main-text,
main #parentprest,
.menu-parent {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles pour l'élément avec la classe menu-parent */
.menu-parent {
  justify-content: center;
}

/* Styles pour les listes non ordonnées dans le main */
main ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: var(--couleur-texte);
  font-size: var(--font-size-small);
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Styles pour les éléments de liste dans le main */
main li {
  margin-right: 35px;
  text-align: center;
}

/* Styles pour l'élément avec la classe li1 */
.li1 {
  align-items: center;
}

/* Styles pour l'élément avec la classe div1 */
.div1 {
  padding: 8px;
}

/* Styles pour l'élément avec l'id point dans la div1 */
.div1 #point {
  color: var(--couleur-surlignage);
  font-size: var(--font-size-large);
}

/* Styles pour l'élément avec la classe div2 */
.div2 {
  text-align: right;
  margin-top: 16px;
}

/* Styles pour les éléments i dans la div2 */
.div2 i {
  margin-left: 25px;
  font-size: var(--font-size-medium);
}

/* Styles pour l'élément avec l'id vert */
#vert {
  color: var(--couleur-fond2);
}

/* Styles pour l'élément avec la classe menu-highlight */
.menu-highlight {
  background-color: var(--couleur-surlignage);
  padding: 5px;
}

/* Styles pour l'élément avec la classe gallerie */
.gallerie {
  margin: 40px auto;
}

/* Styles pour l'élément avec la classe grid-container */
.grid-container {
  display: grid;
  grid-gap: 1px;
}

/* Styles pour les images dans la grid-container */
.grid-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Styles pour l'élément footer */
footer {
  color: var(--couleur-main-text);
  text-align: center;
  padding: 16px;
  font-size: 11px;
}

/* Styles pour l'élément avec l'id footb dans le footer */
footer #footb {
  color: var(--couleur-main-text);
  font-size: 9px;
}

/* Styles responsives */
@media (max-width: 640px) {
  header {
    grid-template-columns: 1fr;
    padding: 0 32px;
    text-align: center;
    margin-top: 15px
  }

  header p {
    font-size: 24px;
  }

  .div1 {
    height: 6vh;
    padding: 0;
  }

  .div2 {
    text-align: center;
    margin-bottom: 30px;
    padding-right: 32px;
    margin-top: 0;
  }

  main h1 {
    font-size: 28px;
  }

  .div1 #point {
    font-size: 30px;
  }

  main {
    padding-top: 50px;
    padding: 0 15px;
  }

  main p {
    font-size: var(--font-size-llarge);
  }

  main #parentprest {
    justify-content: left;
    margin-bottom: 4vh;
  }

  main ul {
    font-size: 9px;
    margin-left: 20px;
  }

  main li {
    margin-right: 15px;
  }

  main #main-text {
    text-align: left;
  }

  .menu-parent {
    flex-wrap: wrap;
  }

  .main-text {
    width: 100%;
  }

  .parent-main-text {
    margin-bottom: 5vh;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
  }

  .grid-container img:nth-child(n + 10) {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  body {
    padding: 0;
  }

  main {
    padding-top: 50px;
    padding: 0 45px;
  }

  header {
    padding: 8px 32px;
    margin: 4vh 0;
  }

  .div1 #point {
    font-size: 22px;
  }

  .div2 {
    margin-top: 5px;
  }

  .main-text {
    margin-bottom: 4vh;
    width: 600px;
  }

  main #presentation {
    width: 805px;
  }

  main h1 {
    font-size: 32px;
  }

  main li {
    font-size: 14px;
    margin-right: 20px;
  }

  main p {
    font-size: 55px;
  }

  main #presentation {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }


  .parent-main-text {
    margin-top: 18px;
  }

  main #main-text {
    font-size: 15px;
  }

  .main-text {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
  }

  .grid-container img:nth-child(n + 16) {
    display: none;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 4px 32px;
    margin: 4vh 0;
  }

  .div1 #point {
    font-size: 20px;
  }

  .div2 {
    margin-top: 5px;
  }

  main {
    padding-top: 30px;
    margin: 0 9%;
  }

  main ul {
    margin-left: 32px;
    font-size: 16px;
  }

  main #presentation {
    width: 805px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  main #main-text {
    font-size: 15px;
    text-align: left;
    width: 805px;
  }

  main #parentprest {
    margin-bottom: 3vh;
  }

  .menu-parent {
    padding-bottom: 0;
  }

  .parent-main-text {
    padding-bottom: 3vh;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .grid-container img:nth-child(n + 16) {
    display: none;
  }
}
