/* Importation des polices depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

/* Variables CSS */
:root {
  --couleur-fond: #041821;
  --couleur-texte: white;
  --couleur-main-text: #64777f;
  --couleur-surlignage: #3d917a;
  --couleur-fond2: #1ece9a;
  --font-size-small: 10px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-llarge: 37px;
}

/* Styles pour l'élément body */
body {
  background-color: var(--couleur-fond);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Styles pour l'élément header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 16px;
}

header p {
  color: var(--couleur-texte);
  font-size: var(--font-size-medium);
  font-family: "Yeseva One", sans-serif;
}

/* Styles pour l'élément hr */
hr {
  border: 0;
  height: 0.5px;
  background-color: var(--couleur-texte);
}

/* Styles pour l'élément main */
main {
  padding-top: 65px;
  font-family: "Montserrat";
}

main p {
  color: var(--couleur-texte);
  font-family: "Yeseva One", sans-serif;
  font-size: var(--font-size-llarge);
  margin-top: 0;
}

main #main-text {
  font-size: var(--font-size-small);
  color: var(--couleur-main-text);
  display: flex;
  flex-wrap: wrap;
}

main #parentprest {
  display: flex;
  flex-wrap: wrap;
}

.parent-main-text,
main #parentprest,
.menu-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--couleur-texte);
  font-size: var(--font-size-small);
  align-items: center;
  text-align: center;
  justify-content: center;
}

main li {
  margin-right: 35px;
  text-align: center;
}

.li1 {
  align-items: center;
}

.div1 {
  padding: 8px;
  margin: 0;
}

.div1 #point {
  color: var(--couleur-surlignage);
  font-size: var(--font-size-large);
}

.div2 {
  text-align: right;
  margin-top: 16px;
}

.div2 i {
  margin-left: 25px;
  font-size: var(--font-size-medium);
}

#vert {
  color: var(--couleur-fond2);
}

.menu-highlight {
  background-color: var(--couleur-surlignage);
  padding: 5px;
}

.grid-parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  padding: 1px;
}

.grid-item img {
  height: auto;
}

footer {
  color: var(--couleur-texte);
  text-align: center;
  padding: 16px;
  font-size: 11px;
}

footer #footb {
  color: var(--couleur-texte);
  font-size: 18px;
  text-align: center;
  font-size: 9px;
}

/* Styles responsives */

/* Styles pour les écrans de taille maximale de 640px */
@media (max-width: 640px) {
  header {
    grid-template-columns: 1fr;
    padding: 0px 32px;
    text-align: center;
  }

  header p {
    font-size: 24px;
  }

  .div1 {
    height: 10vh;
    padding: 0px;
  }

  .div2 {
    text-align: center;
    margin-bottom: 30px;
    padding-right: 32px;
    margin-top: 0;
  }

  main h1 {
    font-size: 28px;
  }

  .div1 #point {
    font-size: 40px;
  }

  main {
    padding-left: 10px;
    padding-right: 15px;
  }

  main #parentprest {
    justify-content: left;
  }

  main ul {
    font-size: var(--font-size-small);
    margin-left: 20px;
  }

  main li {
    margin-right: 15px;
  }

  main #main-text {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
  }

  .menu-parent {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .main-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .parent-main-text {
    padding-bottom: 2vh;
  }

  .hide-on-mobile {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
  }

  .grid-item {
    height: 100px;
  }

  .grid-item img {
    max-width: 100px;
    height: 100px;
  }
}

/* Styles pour les écrans de taille entre 601px et 1024px */
@media (min-width: 641px) and (max-width: 1024px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  header {
    padding: 8px 32px;
  }

  .div1 #point {
    font-size: 22px;
  }

  .div2 {
    margin-top: 5px;
  }

  .main-text {
    margin-bottom: 4vh;
    width: 600px;
  }

  main #presentation {
    width: 805px;
  }

  main h1 {
    font-size: 32px;
  }

  main {
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  main li {
    font-size: 16px;
    margin-right: 20px;
  }

  main p {
    font-size: 55px;
  }

  main #presentation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  .menu-parent {
    padding-bottom: 4vh;
  }

  main #main-text {
    font-size: 15px;
  }

  .main-text {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
  }

  .grid-item img {
    max-width: 133px;
    height: 133px;
  }

  .grid-item {
    max-width: 133px;
    height: 133px;
  }
}

/* Styles pour les écrans de taille minimale de 1025px */
@media (min-width: 1025px) {
  header {
    padding: 4px 32px;
  }

  .div1 #point {
    font-size: 20px;
  }

  .div2 {
    margin-top: 5px;
  }

  main {
    padding-top: 30px;
    padding-left: 85px;
    padding-right: 85px;
  }

  main ul {
    margin-left: 32px;
    font-size: 13px;
  }

  main #presentation {
    width: 805px;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  main #main-text {
    font-size: 15px;
    text-align: left;
    width: 805px;
  }

  main #parentprest {
    margin-bottom: 3vh;
  }

  .menu-parent {
    padding-bottom: 0vh;
  }

  .parent-main-text {
    padding-bottom: 3vh;
  }

  .hide-on-computer {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .grid-parent {
    padding-top: 30px;
  }

  .grid-item {
    max-width: 200px;
    height: 200px;
  }
}
